/* manrope-800 - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('/static/fonts/manrope-v4-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/manrope-v4-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
a {
  cursor: pointer;
}
::selection {
  background-color: rgba(0,26,255,.75);
  color:#fff;
}
body {
  background-image: radial-gradient(96.25% 65.82% at 0 0,#dedede 0,rgba(171,117,255,0) 100%);
  background-repeat: no-repeat;
}
.font-heading {
  font-family: 'Manrope',system-ui,-apple-system,sans-serif;
  font-weight: 800 !important;
}
.icon svg{
  fill:#000;
}
@media (prefers-color-scheme: dark) {
  body {
    background-image: radial-gradient(96.25% 65.82% at 0 0,#555 0,rgba(171,117,255,0) 100%);
  }
  .icon svg {
    fill:#fff;
  }
}