/* barlow-900 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''),
       url('/static/fonts/barlow-v5-latin-900.woff2') format('woff2'),
       url('/static/fonts/barlow-v5-latin-900.woff') format('woff');
}
a {
  cursor: pointer;
}
::selection {
  background-color: rgba(0,26,255,.75);
  color:#fff;
}
body {
  background-image: radial-gradient(96.25% 65.82% at 0 0,#dedede 0,rgba(171,117,255,0) 100%);
  background-repeat: no-repeat;
}
.font-heading {
  font-family: 'Barlow',system-ui,-apple-system,sans-serif;
  font-weight: 900 !important;
}
.icon svg{
  fill:#000;
}
@media (prefers-color-scheme: dark) {
  body {
    background-image: radial-gradient(96.25% 65.82% at 0 0,#555 0,rgba(171,117,255,0) 100%);
  }
  .icon svg {
    fill:#fff;
  }
}