@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  cursor: pointer;
}
::selection {
  background-color: rgba(255,0,214,.75);
  color:#fff;
}
body {
  background-repeat: no-repeat;
  background-color: #f7f4ef;
}
.font-heading {
  font-family: system-ui,-apple-system,sans-serif;
  font-weight: 800 !important;
}
.icon svg{
  fill:#000;
}
@media (prefers-color-scheme: dark) {
  .icon svg {
    fill:#fff;
  }
}